$body-bg-dark: mix(#0a0a0a,#191919); 
$primary: #ff637e;

// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

// Import the Sass files as usual
@import "bootstrap-icons/font/bootstrap-icons";